<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
      <style>
        *{
          font-family: 'Noto Sans KR', sans-serif;
        }
      </style>
  </head>
  <body style="margin:0;padding:0;">
    <div style="background-color:#FFAAB3; margin-bottom:50px; padding: 7px; font-size:18pt; color:#F8E6E6;">
        입맛춤
    </div>
    <style>
      .container {
        display: flex;
        flex-wrap: wrap;
      }
      .thumbnail {
         align-items:flex-start;
         width:150px;
         height:200px;
         margin:5px;
         text-align:center;
         border:1px solid #FFAAB3;
      }

      .thumbnail img { width:150px; height:150px; border:0px; }
      .thumbnail label { cursor:pointer; }
    </style>

    <table width="700" cellspacing=0 cellpadding=0 border="0" align="center">
      <tr>
        <td align="center">
          제시된 음식 중 집에서 만들어 먹고싶은 음식을 있는 대로 선택해 주세요.
        </td>
      </tr>
    </table>
  </br></br>

    <form name="form1" method="post" action="/survey/select">
    <input type="hidden" name="id" value="<%=id+1%>">
    <input type="hidden" name="qdat" value="<%=qdat%>">
    <table width="500" cellspacing=0 cellpadding=0 border=0 align="center">
    <tr height="600">
      <td colspan="3" valign="top">
        <div class="container">
        <% for (var i = 0; i < postList.length; i++){ %>
          <div class="thumbnail">
             <label><img src="<%=postList[i].image%>">
             </br>
              <input type="checkbox" class="checkbox" name="chk" value="<%=postList[i].foodid%>"/>
             <%=postList[i].name%>
            </label>
          </div>
          <% }%>
        </div>
      </td>
    </tr>
    <tr height="70">
      <td width="40%"></td>
      <td width="20%" align="center"><%=id%> / 5</td>
      <td width="40%" align="right">
          <span onClick="next()" style="padding:5px; background-color:#FFAAB3; cursor:pointer; ">
            &nbsp; &nbsp; Next &nbsp; &nbsp;
          </span>
        </td>
  </tr>
  </table>
</form>
<script type="text/javascript">
    function next() {
        form1.submit();
    }
    </script>
</body>
</html>
